<?xml version="1.0" encoding="UTF-8"?>
<plugin title='openi plugin for pentaho' name='openi' loader="OVERRIDING">
	<bean id='openiAction' class='org.openi.actions.OpenIAction' />
	<menu-items>
		<menu-item id="new-openi-analysis" anchor="file-new-submenu"
			label="OpenI Analysis Report..." command="content/openianalysis/RenderOAnalysis?actionType=new"
			type="MENU_ITEM" how="LAST_CHILD" />
	</menu-items>
	
	<overlays>
		<overlay id="startup.openianalysis" resourcebundle="../content/openianalysis/ui/openi.properties">
			<overlay id="startup.openianalysis">
				<toolbar id="mainToolbar">
					<toolbarbutton id="openOpenIAnalysis" image="../content/openianalysis/images/openi-analysis-small.png"
						onclick="mainToolbarHandler.openUrl('OpenI Analysis Report', 'OpenI Analysis Report', 'content/openianalysis/RenderOAnalysis?actionType=new')"
						tooltiptext="${new-openi-analysis-label}" insertafter="newAnalysisButton" />
				</toolbar>
			</overlay>
		</overlay>
		
		<overlay id="launch" resourcebundle="content/openi/openi.properties">
			<button id="openi-analysis-btn" image="content/openi/ui/images/openi-analysis.png" 
							command="openURL('OpenI Analysis Report', 'OpenI Analysis Report', 'content/openianalysis/RenderOAnalysis?actionType=new')"
							label="${new-openi-analysis-label}" />
		</overlay>
	</overlays>
	
	<content-generator id="openianalytics" title="openianalytics" type="notused" class="org.openi.pentaho.plugin.ServletAdapterContentGenerator"/>
	
	<content-generator id="openianalysis"
		title="OpenI Analysis Report Generator" type="openi"
		class="org.openi.pentaho.plugin.OpenIAnalysisContentGenerator" />

	<content-type type="openi" mime-type="text/html">
		<title>OpenI Analysis Report</title>
		<description>OpenI Analysis Report File</description>
		<icon-url>content/openianalysis/images/openi-analysis-small.png</icon-url>
		<operations>
	    	<operation>
    			<id>RUN</id>
    			<command>content/openianalysis/RenderOAnalysis?solution={solution}&amp;path={path}&amp;action={name}&amp;actionType=view</command>
    		</operation>
    		<!--
	    	<operation>
    			<id>NEWWINDOW</id>
    			<command>content/openianalysis/RenderOAnalysis?solution={solution}&amp;path={path}&amp;action={name}</command>
    		</operation>  
    		-->      		
        </operations>
	</content-type>

	<static-paths>
		<static-path url="/openianalysis/ui"
			localFolder="ui" />
		<static-path url="/openianalysis/styles"
			localFolder="ui/resources/styles" />
		<static-path url="/openianalysis/images"
			localFolder="ui/resources/images" />
		<static-path url="/openianalysis/scripts"
			localFolder="ui/resources/scripts" />
		<static-path url="/openianalysis/jpivot"
			localFolder="ui/resources/jpivot" />
		<static-path url="/openianalysis/wcf"
			localFolder="ui/resources/wcf" />
		<static-path url="/openianalysis/views"
			localFolder="ui/views" />
	</static-paths>

</plugin>

